.finder 
    .finder-sidebar 
        .dots 
            .dot.red
            .dot.yellow
            .dot.green
        .finder-sidebar-content 
            .finder-sidebar-heading Favorites
            .finder-sidebar-item.selected(data-ref="~")
                .finder-icon.icon 􀎞
                .finder-sidebar-item-text Home
            .finder-sidebar-item(data-ref="~/Downloads")
                .finder-icon.icon 􀁸
                .finder-sidebar-item-text Downloads
            .finder-sidebar-item(data-ref="~/Desktop")
                .finder-icon.icon 􀣰
                .finder-sidebar-item-text Desktop
            .finder-sidebar-item(data-ref="~/Documents")
                .finder-icon.icon 􀈷
                .finder-sidebar-item-text Documents
    .finder-main 
        .finder-topbar 
            .finder-topbar-chevron.icon.left 􀆉
            .finder-topbar-chevron.icon.right 􀆊
            .finder-topbar-title Home
        .finder-content