@import url('/assets/SFSymbols.css');

* {
    margin: 0;
    user-select: none;
    font-size: 13px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    --scrollbar-width: 14px;
}

#bg {
    height: 100vh;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

/* 4px scroll thumb. 10px margin from right margin */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 var(--scrollbar-width) var(--scrollbar-width) transparent;
    border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 var(--scrollbar-width) var(--scrollbar-width) #0000002a;
    border: solid 3px transparent;
    border-radius: 14px;
}

::-webkit-scrollbar-button {
    display: none;
}

/* Icons */
.icon {
    font-family: 'SF Symbols'
}

.finder {
    width: 600px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    background: 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    display: flex;
}

.finder-sidebar {
    background: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(30px);
    min-height: 100%;
    width: 160px;
    border-right: 1px solid rgba(229, 229, 229);
}

.dots {
    display: flex;
    margin: 16px;
    align-items: center;
}

.dots .dot {
    border-radius: 50%;
    height: 12px;
    margin: 4px;
    width: 12px;
    background: rgb(212, 212, 212);
    border: 1px solid rgba(198, 198, 198);
}

.dot.red {
    background: #FF6057;
    border: 1px solid #E14640;
}

.dot.yellow {
    background: #FFBD2E;
    border: 1px solid #DFA123;
}

.dot.green {
    background: #27C93F;
    border: 1px solid #1DAD2B;
}

/* Sidebar items */
.finder-sidebar-content {
    margin-left: 10px;
    overflow-y: scroll;
    height: 100%;
}

.finder-sidebar .finder-sidebar-heading {
    font-size: 11px;
    font-weight: 600;
    opacity: 0.4;
    margin-bottom: 5px;
    margin-left: 7px;
}

.finder-sidebar-item {
    padding: 7px 8px;
    display: flex;
    margin-right: 7px;
    align-items: center;
    border-radius: 6px;
}

.finder-sidebar-item.selected {
    background: rgba(0, 0, 0, 0.1);
}

.finder-sidebar-item .finder-icon {
    height: 12px;
    width: 12px;
    font-size: 12px;
    line-height: 14px;
    margin-right: 8px;
    color: rgb(0, 91, 241);
}

/* Finder topbar and topbar elements */
.finder-topbar {
    height: 50px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-left-color: rgba(220, 220, 224);
    background: rgba(232, 230, 235)
}

.finder-topbar-chevron {
    width: 33px;
    opacity: 0.6;
    font-size: 16px;
    padding: 4px 7px;
    cursor: default;
    border-radius: 6px;
    text-align: center;
}

.finder-topbar-chevron:hover {
    background: rgba(0, 0, 0, 0.07);
}

.finder-topbar-chevron:active {
    background: rgba(0, 0, 0, 0.14);
}

.finder-topbar-title {
    font-size: 15px;
    margin-left: 10px;
    font-weight: 600;
    opacity: 0.7;
}

/* Main Finder */
.finder-main {
    width: 100%;
}

.finder-content {
    background: #fff;
    height: 100%;
}

.finder-content-column {
    max-width: 50%;
    position: relative;
    padding: 6px 10px;
    overflow-y: scroll;
    height: calc(100% - 50px);
}

.finder-content-column::-webkit-scrollbar-track {
    background: rgba(250, 250, 250);
    border-left: 1px solid rgba(231, 231, 231);
    border-right: 1px solid rgba(231, 231, 231)
}

.finder-column-resize {
    height: 10px;
    width: 10px;
}

.finder-file {
    padding: 3px 7px;
    border-radius: 5px;
    position: relative;
}

.finder-file.invisible {
    opacity: 0.6;
}

.finder-file.directory::after {
    content: '􀆊';
    font-size: 6px;
    font-family: 'SF Symbols';
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    right: 5px;
}